body{
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 18px;
}

*{
    box-sizing: border-box;
}

#navbar{
    width: 25%;
    float: left;
    margin-left: -0.5em;
    margin-top: -1em;
    padding: 10px;
    border: 1px solid black;
    border-right: 2px solid black;
    height: 100%;
    overflow-y:auto;
    position: fixed;
    
}

#navbar ul{
    list-style: none;
    margin-right: 0.50em;
}

#navbar li{
    /* border-right: 2px solid black; */
    border-top: 1px solid black;
    /* border: 1px solid black; */
    /* margin:0; */
    /* padding-right: 2em; */
    scroll-behavior: smooth;
    cursor: pointer;
    margin-left: -0.5em;
    padding-right: 5em;
    padding-top: 1.5em;
}

#navbar li:first-of-type{
    cursor:auto
}

#navbar a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px;
}

#navbar a:visited{
    text-decoration: none;
}


#main-doc{
    width: 75%;
    padding: 10px;
    float: right;
}

/* mobile view */

@media (max-width:500px) {

    #navbar{
        width: 100%;
        position: absolute;
        top: 0.5em;
        flex-direction: column;
        /* margin: 0 auto; */
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
        margin-left: 0.09em;
        text-align: center;
    }
    #main-doc{
        margin-top: 32em;
        float: none;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
}